@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~leaflet/dist/leaflet.css';

#map {
  height: 500px;
  width: 90%;
  margin: auto;
}

.btn {
  @apply py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-black {
  @apply text-center px-3 py-2 border rounded text-black border-black hover:bg-black hover:text-white hover:border-black;
}

.card {
  @apply rounded-lg overflow-hidden shadow-lg;
}

.title {
  @apply text-center font-mono text-3xl my-6 font-bold uppercase;
}